<html>
    <head>
        <title>QCM</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href = "{{ url_for('static', filename = 'main.css') }}" />
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery.js') }}" ></script>
    </head>
    <body>
        <h1>Trang bắt đầu trò chơi dành cho admin</h1>
		
		<form action="/admin_start" method = "POST">
			<h3>Chọn series câu hỏi: </h3>
			<select id="series" name="series" value="{{result[1]['series']}}">
				{% for s in result[0] %}
					<option value="{{s}}">{{s}}</option>
				{% endfor %}
			</select>
			<p></p>
			<h3>Nhập tên/nickname những người chơi (cách nhau bởi dấu phẩy): </h3>
			<input type="text" name="players" value="{{result[1]['players']|join(", ")}}">
			<p></p>
			<input type="submit" value="Cập nhật" />

		</form> 

		<form action="/admin_start_group" method = "POST">
			<input type="number" name="next_group_index" value=0 style="display:none" />
			<input type="submit" value="Bắt đầu vòng 1" />
		</form> 
	</body>
</html>