<html>
    <head>
        <title>QCM</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href = "{{ url_for('static', filename = 'main.css') }}" />
        <link rel="stylesheet" href = "{{ url_for('static', filename = 'tabs.css') }}" />
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery.js') }}" ></script>
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'control.js') }}" ></script>
    </head>
    <body>
        <h1>Phần nhập thông tin về các nhóm câu hỏi</h1>
        <br>
        <form id="common_information" display="block" action = "send_meta" method = "POST">
            <h2>Thông tin chung</h2>
            <p>Kí hiệu bộ câu hỏi (8 chữ cái tối đa, không có dấu cách): <input id="series" name="series" type="text" maxlength="8" size="10" > </p>
            <p>Số nhóm câu hỏi: <input id="nb_groups" name="nb_groups" type="number" min="1" max="10" value=0 onchange="createGroups(document.getElementById('nb_groups').value);"> </p>

            <h2>Bảng thông tin về các nhóm câu hỏi</h2>
            <div class="tab" id="group_tab"></div>
            <div id="end_tab" style="display:none; "></div>

            <p id='submit'><input type='submit' value='Send'></input></p>
            
        </form>     
    </body>
</html>