<html>
    <head>
        <title>QCM</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href = "{{ url_for('static', filename = 'main.css') }}" />
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery.js') }}" ></script>

    </head>
    <body>
        <h1>Chọn series câu hỏi mà bạn muốn xem hoặc sửa chữa</h1>
        {% for s in result %}
            {% if s != "" %}
                <h2>Tên series: {{s}}</h2>
                <form display="block" action = "view_meta" method = "POST">
                    <input style="display:none" id="series" name="series" value={{s}}>
                    <input type='submit' value='Xem thông tin nhóm câu hỏi'>
                </form> 
                <form display="block" action = "view_questions" method = "POST">
                    <input style="display:none" id="series" name="series" value={{s}}>
                    <input type='submit' value='Xem câu hỏi'>
                </form>
				<form display="block" action = "delete_collection" method = "POST">
                    <input style="display:none" id="series" name="series" value={{s}}>
					<button type="button" onclick="document.getElementById('deleter_{{s}}').style.display='block';">Xoá bộ câu hỏi</button>
                    <input id='deleter_{{s}}' type='submit' value='Xác nhận xoá' style="display:none;">
                </form>
            {%  endif %} 
        {% endfor %}    
		
		<form action="/">
			<input type="submit" value="Quay lại trang chủ" />
		</form>
    </body>
</html>