<html>
    <head>
        <title>QCM</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		{% if result[0]['status'] == 2 %}
			<meta http-equiv="refresh" content="0.9; URL=/admin_game">
		{% endif %}
		<script type = "text/javascript" src = "{{ url_for('static', filename = 'live.js') }}" ></script>
        <link rel="stylesheet" href = "{{ url_for('static', filename = 'main.css') }}" />
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery.js') }}" ></script>
    </head>
    <body>
		
		<img src="static/A0.jpg" style="position:absolute; width:55%; height:500px; opacity:0.2;" />
		<div style="position:absolute; width:55%; height:500px; padding:10px">
			
			<h1>Vòng {{result[0]['group'] + 1}}</h1>
			{% if result[0]['status'] == 1 %}
				<h2>Thể lệ chung</h2>
				<h5>
					Có {{ result[2]["group_nb_questions"] }} câu hỏi.<br/>
					{% if result[2]["group_question_type"] == 1 %}
						Mỗi câu hỏi ở dạng trắc nghiệm, với {{ result[2]["group_nb_options"] }} phương án lựa chọn với 1 phương án đúng.<br/>
					{% else %}
						Mỗi câu hỏi ở dạng tự luận.<br/>
					{% endif %}
					
					{% if result[2]["group_question_duration"] > 0%}
						Bạn có {{ result[2]["group_question_duration"] }} giây suy nghĩ cho mỗi câu hỏi.<br/>
					{% endif %}
					
					{% if result[2]["group_answer_mode"] == 0 %}
						Chỉ người trả lời nhanh nhất là được tính câu trả lời.<br/>
					{% elif result[2]["group_answer_mode"] == 1 %}
						Chỉ người trả lời đúng và nhanh nhất là có điểm.<br/>
					{% endif %}
					
					Nếu trả lời đúng, bạn được cộng {{ result[2]["group_bonus"] }} điểm, sai bị trừ {{ result[2]["group_penalty"] }} điểm.
					{% if result[2]["group_lose_turn"] == 1%}
						Và nếu sai bạn bị mất quyền trả lời ở câu hỏi tiếp theo.
					{% endif %}
					<br/>
					
					{% if result[2]["group_stars_accepted"] == 1%}
						Bạn cũng có quyền được chọn ngôi sao hy vọng trước mỗi câu hỏi.
						{% if result[2]["group_nb_stars"] > 0%}
						Nhưng bạn chỉ có {{result[2]["group_nb_stars"]}} ngôi sao trong cả vòng thi.
						{% endif %}
						
						Nếu chọn ngôi sao hy vọng, trả lời đúng, bạn được cộng {{ result[2]["group_star_bonus"] }} điểm, sai bị trừ {{ result[2]["group_star_penalty"] }} điểm.
						{% if result[2]["group_star_lose_turn"] == 1%}
							Và nếu sai bạn bị mất quyền trả lời ở câu hỏi tiếp theo.
						{% endif %}
						
					{% endif %}
					<br/>
				</h5>
			{% endif %}
			{% if result[0]['status'] == 1 and result[0]['group'] > 0 %}
				<form action="/admin_partial_reset" method = "POST">
					<p>Những người chơi vòng này: <input type="text" name="players" value="{{result[7]}}" style="" /></p>
					<input type="submit" value="Cập nhật người chơi" />
				</form> 
			{% elif result[0]['status'] == 2 or result[0]['status'] == 3 %}
				<h2>Câu hỏi {{result[0]['question'] + 1}}: {{result[3]['question_content']}}</h2>
				
				{% for i in range(result[2]["group_nb_options"])%}
					<div>
						<h4>{{result[5][i]}}. &nbsp &nbsp {{result[3]['question_option_' + i|string ]}}</h4>
					</div>
				{% endfor %}
			{% elif result[0]['status'] == 5%}
				<h1>Trò chơi kết thúc.</h1>
			{% endif %}
		</div>
		
		<img src="static/A1.jpg" style="position:absolute; left:60%; width:35%; height:500px; opacity:0.2;" />
		<div style="position:absolute; left:60%; width:35%; height:500px; padding:10px;">
			
			<h2>Kết quả người chơi</h2>
			<table>
			<tr>
				<th>Tên</th>
				<th>Thời gian</th>
				<th>Đáp án</th>
				<th>NSHV</th>
				<th>Điểm</th>
				<th>Tổng điểm</th>					
			</tr>
			{% for p in result[4] %}
				<tr>
					<td>{{p["_id"]}}</td>
					{% if p["G" + result[0]['group']|string + "Q" + result[0]['question']|string + "_time"] > 0 %}
						<td>{{p["G" + result[0]['group']|string + "Q" + result[0]['question']|string + "_time"]|round(2)}} s</td>
					{% else %}
						<td>Chưa trả lời</td>
					{% endif %}
					<td>{{result[5][p["G" + result[0]['group']|string + "Q" + result[0]['question']|string + "_answer"]]}}</td>
					<td>{{p["star_chosen"]}}</td>
					<td>{{p["G" + result[0]['group']|string + "Q" + result[0]['question']|string + "_point"]}}</td>
					<td>
						<form action="/admin_impose_point" method = "POST">
							<input type="text" name="player_name_to_impose" value="{{p['_id']}}" style="display:none" />
							<input type="number" name="points_to_impose" value="{{p['point']}}" style="width:60px;"/>
							<input type="submit" value="Sửa" style="display:inline;"/>
						</form> 
					</td>				
				</tr>
			{% endfor %}
			</table>
		</div>
		
		<img src="static/A2.jpg" style="position:absolute; top:550px; width:55%; height:100px; opacity:0.2;" />
		<div style="position:absolute; top:550px; width:55%; height:100px; padding:10px;">
			{% if result[0]['status'] == 3 %}
				<h2>Đáp án: &nbsp &nbsp {{result[5][result[3]['question_answer']]}}.</h2>
			{% elif result[0]['status'] == 2 and result[3]['question_duration'] > 0 %}
				<h2>Đáp án: &nbsp &nbsp {{result[5][result[3]['question_answer']]}}. Thời gian còn lại: {{ result[6] }} giây</h2>
			{% elif result[0]['status'] == 2 %}
				<h2>Đáp án: &nbsp &nbsp {{result[5][result[3]['question_answer']]}}.</h2>
			{% endif %}
		</div>

		<img src="static/A3.jpg" style="position:absolute; top:550px; left:60%; width:35%; height:100px; opacity:0.2;" />	
		<div style="position:absolute; top:550px; left:60%; width:35%; height:100px; padding:20px;">		
		{% if result[0]['status'] == 1%}
			<form action="/admin_start_question" method = "POST">
				<input type="number" name="next_question_index" value=0 style="display:none" />
				<input type="submit" value="Bắt đầu câu hỏi số 1" />
			</form> 
		{% elif result[0]['status'] == 2%}
			<form action="/admin_waiting_question" method = "POST">
				<input type="number" name="next_question_index" value=0 style="display:none" />
				<input type="submit" value="Dừng câu hỏi" />
			</form> 
		{% elif result[0]['status'] == 3 and result[0]['question'] + 1 < result[2]['group_nb_questions'] %}
			<form action="/admin_start_question" method = "POST">
				<input type="number" name="next_question_index" value={{result[0]['question'] + 1}} style="display:none" />
				<input type="submit" value="Chuyển sang câu hỏi số {{result[0]['question'] + 2}}" />
			</form> 
		{% elif result[0]['status'] == 3 and result[0]['question'] + 1 >= result[2]['group_nb_questions'] and result[0]['group'] + 1 >= result[0]['nb_groups'] %}
			<form action="/admin_end" method = "GET">
				<input type="submit" value="Kết thúc trò chơi" />
			</form> 
		{% elif result[0]['status'] == 3 and result[0]['question'] + 1 >= result[2]['group_nb_questions']%}
			<form action="/admin_start_group" method = "POST">
				<input type="number" name="next_group_index" value={{result[0]['group'] + 1}} style="display:none" />
				<input type="submit" value="Chuyển sang vòng {{result[0]['group'] + 2}}" />
			</form> 
		{% endif %}
		</div>
	</body>
</html>