<html>
    <head>
        <title>QCM</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="refresh" content="0.5; URL=/player_games">
        <link rel="stylesheet" href = "{{ url_for('static', filename = 'main.css') }}" />
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery.js') }}" ></script>
    </head>
    <body>
		
		<img src="static/A0.jpg" style="position:absolute; width:55%; height:500px; opacity:0.2;" />
		<div style="position:absolute; width:55%; height:500px; padding:10px">
			
			<h1>Vòng {{result[0]['group'] + 1}}</h1>
			{% if result[0]['status'] == 1 %}
				<h2>Thể lệ chung</h2>
			{% elif result[0]['status'] == 2 or result[0]['status'] == 3 %}
				<h2>Câu hỏi {{result[0]['question'] + 1}}: {{result[3]['question_content']}}</h2>
				
				{% for i in range(result[2]["group_nb_options"])%}
					<div>
						<form action="/player_answer" method = "POST">
							<input type="number" name="answer" value={{i}} style="display:none" />
							{% if result[0]['status'] == 2 %}
								<input type="submit" value="{{result[5][i]}}. &nbsp &nbsp {{result[3]['question_option_' + i|string ]}}">
							{% else %}
								<input type="submit" value="{{result[5][i]}}. &nbsp &nbsp {{result[3]['question_option_' + i|string ]}}" disabled>
							{% endif %}
						</form>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		
		<img src="static/A1.jpg" style="position:absolute; left:60%; width:35%; height:500px; opacity:0.2;" />
		<div style="position:absolute; left:60%; width:35%; height:500px; padding:10px;">
			
			<h2>Kết quả người chơi</h2>
			<table>
			<tr>
				<th>Tên</th>
				<th>Thời gian</th>
				{% if result[2]['group_see_other_answer'] == 0 %}
					<th>Đáp án</th>
				{% endif %}
				<th>NSHV</th>
				<th>Điểm</th>
				<th>Tổng điểm</th>					
			</tr>
			{% for p in result[4] %}
				<tr>
					<td>{{p["_id"]}}</td>
					<td>{{p["G" + result[0]['group']|string + "Q" + result[0]['question']|string + "_time"]}}</td>
					{% if result[2]['group_see_other_answer'] == 0 %}
						<td>{{ result[5][p["G" + result[0]['group']|string + "Q" + result[0]['question']|string + "_answer"]] }}</td>
					{% endif %}
					<td>{{p["star_chosen"]}}</td>
					<td>{{p["G" + result[0]['group']|string + "Q" + result[0]['question']|string + "_point"]}}</td>
					<td>{{p["point"]}}</td>				
				</tr>
			{% endfor %}
			</table>
		</div>
		
		<img src="static/A2.jpg" style="position:absolute; top:550px; width:55%; height:100px; opacity:0.2;" />
		<div style="position:absolute; top:550px; width:55%; height:100px; padding:10px;">
			{% if result[0]['status'] == 3 %}
				<h2>Đáp án: &nbsp &nbsp {{result[5][result[3]['question_answer']]}}.</h2>
			{% elif result[0]['status'] == 2 and result[3]['question_duration'] > 0 %}
				<h2>Thời gian còn lại: {{ result[6] }} giây</h2>
			{% endif %}
		</div>

		<img src="static/A3.jpg" style="position:absolute; top:550px; left:60%; width:35%; height:100px; opacity:0.2;" />	
		<div style="position:absolute; top:550px; left:60%; width:35%; height:100px; padding:20px;">		
		</div>
	</body>
</html>